* {
    box-sizing: border-box;
}

body {
    background-image: url(./background-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 1000px;
    height: 800px;
    background-color: #ebe8e8;
    border-radius: 20px;
    display: grid;
}

.user {

}